div {
  width: 300px;
  padding: 50px;
  margin: 20px;
  border-width: 5px;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-top-style: double;
  border-bottom-style: dashed;
  border-right-style: inset;
  border-left-style: groove;
  border-color: aqua;
}
